@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";


@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";

@import "components/hero";
@import "components/footer";
@import "components/skills";
@import "components/portfolio";

@import "pages/home";

* {
  margin: 0;
  padding: 0;
  z-index: 5;
  //border: solid red 1px;
}

.underline{
  text-decoration: underline;
  text-decoration-color: $green
}

.border{
  &-t{
    border-top: 1px solid $light;
  }
}

body {
  background-color: $black;
}

.nav {
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
  }

  &-brand {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 30px;
  }
}


