@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";

@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";

@import "pages/home";

* {
  margin: 0;
  padding: 0;
  z-index: 5;
  border: solid red 1px;
}

.underline{
  text-decoration: underline;
  text-decoration-color: $green
}

.border{
  &-t{
    border-top: 1px solid $light;
  }
}

body {
  background-color: $black;
}

.nav {
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
  }

  &-brand {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 30px;
  }
}

.hero {
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40%;

    img {
      width: 100%;
    }
  }

  &-content {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding-bottom: 219px;
    position: relative;
    img{
      position: absolute;
      right: 60%;
    }
    &-title {
      margin-top: 90px;
      margin-bottom: 43px;
    }
    &-action{
      display: flex;
      align-items: center;
      position: relative;
      img{
        position: absolute;
        right: 6%;
      }
    }

    p {
      width: 445px;
      margin-bottom: 66px;
    }
    a{
      margin-right: auto;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 72px;
  img{
    position: absolute;
    right: -35%;
    bottom: 0;
  }

  & > div {
    flex: auto;
    width: 33%;
  }

  .text-l {
    margin-bottom: 14px;
  }

  p {
    margin-bottom: 58px;
  }
}

