.hero {
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
    width: calc(100% - 100px);

    @media (min-width: 600px) {
      right: -30px;
      width: 40%;
    }

    img {
      width: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 80px;

    @media (min-width: 600px) {
      width: 70%;
      padding-bottom: 219px;
    }

    img {
      position: absolute;
      right: 60%;
    }

    &-title {
      margin-top:calc(100vw *1.6 - 250px);
      margin-bottom: 43px;
      text-align: center;

      @media (min-width: 600px) {
        margin-top: 90px;
        margin-bottom: 60px;
        text-align: left;
      }
    }

    &-action {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-around;
      @media (min-width: 600px) {
        margin-top: 66px;
      }

      img {
        position: absolute;
        top: -450px;
        right: -50px;
        @media (min-width: 600px) {
          top: 0;
          right: 6%;
        }
      }
    }

    p {
      text-align: center;
      @media (min-width: 600px) {
        width: 445px;
        text-align: left;
      }
    }

    a {
      margin-top: 24px;
      @media (min-width: 600px) {
        margin-top: 0;
        margin-right: auto;
      }
    }
  }
}