
.container {

  max-width: 1110px;
  margin-left: 16px;
  margin-right: 16px;
  @media (min-width: 768px) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @media (min-width: 1280px) {
    margin: auto;
  }

  &-fluid {
    overflow: hidden;
    width: 100vw;
  }
}
